layout {
    default_tab_template {
        // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="almop" split_direction="horizontal" focus=true cwd="/home/stanisz/programming/almost-philosophy" {
        pane focus=true {
            name "nushell"
            cmd "nu"
        }
        pane {
            name "notebook"
            command "sh"
            args "-c" "~/programming/almost-philosophy/launch_notebook"
        }
        pane {
            name "gpu"
            command "sh"
            args "-c" "~/programming/almost-philosophy/monitor_nvidia"
        }
    }

    tab name="dotfiles" cwd="/home/stanisz/dotfiles" {
        pane {
            name "nushell"
            cmd "nu"
        }
    }

    tab name="anton" cwd="/home/stanisz/programming/anton" {
        pane {
            name "nushell"
            cmd "nu"
        }
    }

    tab name="top" {
        pane {
            name "top"
            command "btm"
        }
    }
}
